.container {
  margin: 20px;
  padding-top: 20px;
}

.file-label {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 50px;
  margin-bottom: 20px;
  margin-top: 20px;
}
/* Tabs container */
.tab-container {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  overflow: hidden;
}

/* Tab buttons */
.tab {
  cursor: pointer;
  padding: 10px 20px;
  background-color: #ddd; /* Default tab button background color */
  color: #333; /* Default tab button text color */
  border: none;
  outline: none;
  transition: background-color 0.3s;
  margin-right: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 8px;
}
.toast {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
  visibility: hidden;
}

.toast.show {
  opacity: 1;
  visibility: visible;
  display: flex;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
}

.close-button {
  background: none;
  border: none;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}
.toast-message {
  font-size: 16px;
}

.tab:hover {
  background-color: #ccc; /* Tab button background color on hover */
}

/* Active tab button */
.tab.active {
  background-color: #007bff; /* Active tab button background color */
  color: #fff; /* Active tab button text color */
}

/* Tab content */
.tab-content {
  display: none;
  padding: 20px;
}

/* Active tab content */
.tab-content.active {
  display: block;
}

.input-container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.upload-button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.upload-button:hover {
  background-color: #0056b3;
}
